*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 auto !important;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.top-nav ul {
    list-style: none;
}

.top-nav li {
    position: relative;
}

.top-nav > ul {
    align-self: center;
    display: flex;
    align-content: center;
    gap: 1rem;
}

.top-nav ul ul {
    position: absolute;
    background-color: var(--background-alt);
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    pointer-events: none;
}

.top-nav  button[aria-expanded] + ul {
    visibility: visible;
    z-index: 1;
    pointer-events: auto;
}

.top-nav a {
    display: inline;
    width: max-content;
    margin: 0 1rem;
}

.is-current {
    border-bottom: 2px solid #c00000;
}

.sidebar {
    outline: 1px dotted var(--text-bright);
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 6rem 1fr 6rem;
    height: 100%;
    align-items: flex-start;
    gap: 2rem;
}

.top-nav {
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255, 0.1);
}

.main {
    /* grid-column: 1 / span 3; */
}

.sidebar {
    grid-column: 2 / -1;
    grid-row: 2;
}

footer {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: rgba(180, 0, 0, 0.1);
    padding: 1rem;
}
